.todoConteiner {
    width: 500px;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
}

.todoCreateForm {
    display: flex;
    gap: 5px;
}

.todoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px rgb(204, 0, 255); 
    background-color: rgb(199, 88, 227);
}

.buttonCreate{
    border: none;
    border-radius: 3px;
    background-color: rgb(166, 239, 133);
    color: rgb(39, 35, 35);
    padding: 10px 20px;
}

.todosContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.todo{
    padding: 10px;
    background-color: rgb(110, 101, 101);
    border-radius: 3px;
}

.todoTitle{
    flex: 1;
    font-size: 20px;
    color: aliceblue;
}

.todoUpdateForm, .todoInfo {
    display: flex;
    align-items: center;
    grid-area: 5px;
}

.button{
    border: none;
    border-radius: 3px;
    background-color: rgb(236, 236, 29);
    padding: 10px 20px;
}

.buttonDelete {
    border: none;
    border-radius: 3px;
    background-color: rgb(179, 26, 26);
    padding: 10px 20px;
    color: aliceblue;
    margin-left: 10px;
}